<section class="section brd-btm" id="basic_info">
    <div class="row">
        <div class="col-sm-6 clear-mrg">
            <h2 class="title-thin text-muted">基本信息</h2>

         <table border="1">
             <tr>
                  <td style="width：300px">
                      <dl class="dl-horizontal clear-mrg">
                        <dt class="text-upper">性别</dt>      <dd>男</dd>
                        <dt class="text-upper">出生日期</dt>  <dd>25 May 1991</dd>
                        <dt class="text-upper">手机</dt>      <dd>+393331806579</dd>
                       </dl>
                   </td>

                  <td width=300px>
                      <dl class="dl-horizontal clear-mrg">
                        <dt class="text-upper">e-mail</dt>    <dd><a href="mailto:zhs1900@gmail.com">zhs1900@gmail.com</a></dd>
                        <dt class="text-upper">英语</dt>      <dd>CET-6</dd>
                        <dt class="text-upper">地址</dt>   <dd>北京</dd>
                       </dl>
                   </td>
              </tr>
           </table>
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->
© 2020 GitHub, Inc.
